@font-face {
  font-family: "Albertus Nova Black";
  src: url("../fonts/Albertus Nova Black/AlbertusNovaBlack.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Corsica MX";
  src: url("../fonts/Corsica MX/CorsicaMX-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Troy Sans";
  src: url("../fonts/Troy Sans/TroySans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Corsica MX", serif;
}

body {
  cursor: crosshair;
  background-image: url("../img/featured.jpg");
  padding-bottom: 10vh;
}