@font-face {
  font-family: "Albertus Nova Black";
  src: url("../fonts/Albertus Nova Black/AlbertusNovaBlack.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Corsica MX";
  src: url("../fonts/Corsica MX/CorsicaMX-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Troy Sans";
  src: url("../fonts/Troy Sans/TroySans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Corsica MX", serif;
}

body {
  cursor: crosshair;
  background-image: url("../img/featured.jpg");
  padding-bottom: 10vh;
}

.header {
  padding-top: 100px;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
}

.back-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: filter 0.3s ease;
}

.back-link:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

.back-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.back-text {
  color: #969696;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 2px;
  text-shadow: 0px 0px 4px #000;
}

.character {
  font-family: "Albertus Nova Black", serif;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin: 5px 0 20px;
  text-shadow: 0px 0px 10px #000, 0px 0px 5px #000;
}

.date {
  font-family: "Troy Sans", serif;
  color: #969696;
  font-size: 20px;
}

.image-container {
  text-align: center;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  perspective: 1000px;
}

.image {
  max-width: 70%;
  height: auto;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
  transform-origin: center;
  transform-style: preserve-3d;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

  /* Animação de entrada com efeito de deslizamento de baixo para cima */
  @keyframes slideUp {
    0% {
      transform: translateY(100vh);  /* Inicialmente fora da tela (abaixo) */
      opacity: 0;
    }
    100% {
      transform: translateY(0);      /* Posiciona no lugar original */
      opacity: 1;
    }
  }

  /* Os elementos inicialmente não têm animação */
  .hidden {
    opacity: 0;
    transform: translateY(100vh); /* Inicialmente fora da tela */
  }

  /* Quando a classe 'show' é adicionada, a animação é aplicada */
  .show .character, .show .date, .show .image-container, .show .content {
    animation: slideUp 1s ease-out forwards;
  }

.content {
  cursor: text;
  width: 70%;
  margin: 30px auto;
}

.paragraph {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.6;
  color: #d1d1d1;
  margin-bottom: 25px;
}

/* Estilos para dispositivos com largura máxima de 480px (smartphones) */
@media (max-width: 678px) {
  .header {
    padding-top: 50px;
  }

  .back-icon {
    height: 15px;
    width: 15px;
  }

  .back-text {
    font-size: 14px;
  }

  .character {
    font-size: 35px;
    margin: 10px 0;
  }

  .date {
    font-size: 14px;
  }

  .image {
    max-width: 85%;
  }

  .content {
    width: 85%;
    margin: 20px auto;
  }

  .paragraph {
    font-size: 1em;
    text-align: justify;
    line-height: 1.5;
  }
}
